<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>AI Tool</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/layui.css') }}">
    <script src="{{ url_for('static',filename='layui.js') }}"></script>
    <script src="{{ url_for('static',filename='echarts.min.js') }}"></script>
    <script src="{{ url_for('static',filename='jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static',filename='layer/layer.js') }}"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">AI 工具</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>
            <li class="layui-nav-item layui-hide-xs"><a href="">基于OpenAI官方ChatGPT API</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img src="static/images/icon_user.png"
                         class="layui-nav-img">
                    {{ userinfo.name }}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/logout">Sign out</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a href="/picture">图片生成</a></dd>
                        <dd><a href="/chat">聊天</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab-content" style="padding:30px">
            <div class="layui-col-md12">
                <form class="layui-form" action="">
                    <div class="layui-form-item layui-form-text">
                        <div class="">
                    <textarea name="prompt"
                              placeholder="{% if latest_record %} {{ latest_record[0].prompt }}  {% else %} 绘制指令(AI对中文理解能力有限，请用英文指令)：{% endif %}"
                              class="layui-textarea" lay-verify="required"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <button class="layui-btn" id="demo_try">
                            示例
                            <i class="layui-icon layui-icon-down layui-font-12"></i>
                        </button>
                    </div>

                    <div class="layui-form-item">
                        <div class="">
                            <button class="layui-btn layui-btn-lg" lay-submit lay-filter="submit">AI生成图片
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-col-md12">
                <div class="layui-carousel" id="img_show" align="center">
                    <div id="img_list" carousel-item>
                        {% for record in latest_record %}
                        <img src="static/images/{{ record.img_url }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <table id="img_record" lay-filter="test"></table>
            </div>
        </div>
    </div>

<!--    <div class="layui-footer">-->
<!--        &lt;!&ndash; 底部固定区域 &ndash;&gt;-->
<!--        底部固定区域-->
<!--    </div>-->
</div>
<script type="text/javascript">
    var ins;
    var options= {
        elem: '#img_show'
        ,width: '1024px',
        height:'1024px',
        indicator:'outside',
        anim:'fade'
   }
    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(submit)', function (data) {
            var respData = data.field
            console.log(respData)
            layer.msg('加载中', {
              icon: 16 ,
              shade: 0.01
            });
            var ldhtml = '<img src="{{ url_for('static',filename='images/lding.gif') }}"/>';
            console.log(ldhtml);
            $("#img_list").html(ldhtml);
            $.post("/image/generate", respData, function (result) {
                if (result['code'] > 0 ) {
                    layer.msg(result['msg']);
                    return false;
                }
                console.log(result);
                var img_list = result['img_list'];
                var img_arr = [];
                for (img in img_list) {
                   var img_url = "static/images/" + img_list[img];
                   console.log(img_url);
                   img_arr.push("<img src='"+img_url+"'/>")
                }
                console.log(img_arr);
                $("#img_list").html(img_arr.join(' '));
                ins.reload(options);
                layer.close();
            });
            return false
        });
    });


layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  ins = carousel.render(options);
});

var table = layui.table;
table.render({
    elem: '#img_record',
    url: '/image/record_list',
    page: true,
    limit: 10,
    skin: 'line',
    cols: [[
      { field: 'prompt', title: '提示语', fixed: 'left' },
      {
            field: 'img_url', title: '图片地址', templet: function (d) {
                return "<a href='static/images/"+d.img_url+"' class='layui-table-link' target='_blank'>下载原图</a>";
            }
      },
      {
            field: 'img_url', title: '图片预览', templet: function (d) {
                return "<a href='static/images/"+d.img_url+"' class='layui-table-link' target='_blank'><img style='width: 50px; height: 50px;' src='static/images/"+d.img_url+"'></a>";
            }
      },
      { field: 'created_time', title: '创建时间'}
    ]]
});


layui.use('dropdown', function(){
  var dropdown = layui.dropdown
  dropdown.render({
    elem: '#demo_try',
    data: [
    {
      title: '海面反射水面上的合成波式日落，数字艺术',
      value:'A synthwave style sunset above the reflecting water of the sea, digital art'
    },
    {
      title: '深蓝色背景下水族馆中一条可爱的热带鱼的3D渲染图，数字艺术',
      value:'3D render of a cute tropical fish in an aquarium on a dark blue background, digital art'
    },
    {
      title: '一张猫捉老鼠的卡通画',
      value:'A cartoon of a cat catching a mouse'
    },
    {
      title: '两座未来主义的塔楼，天桥上覆盖着茂密的树叶，数字艺术',
      value:'Two futuristic towers with a skybridge covered in lush foliage, digital art'
    }
    ],
    id: 'demo_try'
    //菜单被点击的事件
    ,click: function(obj){
     console.log(obj);
      console.log(obj['title']);
     $("textarea[name='prompt']").val(obj['value']);
    }
  });
});


</script>
</body>
</html>